@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
}

/* Dog display */

.dog-card-name {
  margin-right: 10px;
}

.dog-card {
  margin: 10px;
  /* background-color: #e1ccad; */
  /* background-color: #a6aea9; */
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.dog-card-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}

.dog-card img {
  height: 250px;
  width: 250px;
  /* border-radius: 20px; */
  border-radius: 50%;
  /* transform-origin: 0 0; */
  transition: all 0.35s ease;
  /* transition: transform .10s, visibility .10s ease-in; */
}


/* The Transformation */
.dog-card:hover img {
  transform: scale(1.1);
}

.dog-card-title {
  margin: 0;
  display: flex;
}

img {}

.img-wrapper {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  /* hide the overflow */
}

.img-wrapper img {
  transition: all .25s ease;
  vertical-align: middle;
}

/* Side Bar */
.sidebar {
  flex: 0 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: (rgb(62, 53, 53), green, blue, alpha);
  padding: 20px;
  overflow: scroll;
  min-width: 200px;
  width: 20vw;
  margin-right: 30px;
}

.sidebar-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.content {
  flex: 1;
  margin-left: 200px;
}