@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
}

/* Dog display */

.dog-card-name {
  margin-right: 10px;
}

.dog-card {
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.dog-card-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}

.dog-card img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  transition: all 0.35s ease;
}


.dog-card:hover img {
  transform: scale(1.1);
}

.dog-card-title {
  margin: 0;
  display: flex;
}

.img-wrapper {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  /* hide the overflow */
}

.img-wrapper img {
  transition: all .25s ease;
  vertical-align: middle;
}

.dog-card-info-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(175, 196, 182, 0.6);
  border-radius: 20px;
}

/* Heart */
.heart {
  position: relative;
  width: 50px;
  /* height: 60px; */
  margin-top: 10px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25px;
  height: 40px;
  border-radius: 50px 50px 0 0;
  background: rgb(255, 255, 255);
}

.heart::before {
  left: 25px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.hearted::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25px;
  height: 40px;
  border-radius: 50px 50px 0 0;
  background: rgb(237, 166, 166);
}

.hearted::before {
  left: 25px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  background: rgb(237, 166, 166);
}

/* Side Bar */
.sidebar {
  flex: 0 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* background-color: rgb(245, 245, 220, .5); */
  padding: 20px;
  padding-right: 0px;
  overflow: scroll;
  min-width: 200px;
  width: 20vw;
  /* margin-right: 30px; */
}

.sidebar-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sidebar-item h3 {
  margin-bottom: 15px;
}

.content {
  flex: 1;
  margin-left: 200px;
}

/* Breed filter */
.breed-filter {
  display: inline-block;
  overflow: scroll;
  height: 60vh;
  padding: 20px;
}

/* Age filter */
.age-filter {}

/* Pagination Bar */

.page-bar {
  display: flex;
  justify-content: center;
}

.pagination-bar {
  text-align: center;
}

.pagination-button {
  height: 50px;
  width: 50px;
}

.back-button,
.next-button {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  border-width: 1px;
  text-align: center;
}

.pagination-button.active {
  background-color: rgb(107, 80, 80);
  color: #fff;
}

.ellipsis {
  padding: 10px;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .content {
    margin-left: 0;
  }

  .sidebar {
    position: static;
    min-width: auto;
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }

  .breed-filter {
    display: inline-block;
    overflow: scroll;
    height: 30vh;
    width: 100%;
    padding: 20px;
  }
}