@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
}

.dog-card-name {
  margin-right: 10px;
}

.dog-card {
  margin: 10px;
  /* background-color: #e1ccad; */
  /* background-color: #a6aea9; */
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.dog-card-container {
  /* background-image: url('https://i.pinimg.com/736x/ea/6f/77/ea6f77061e5940b381f122098f81e588.jpg'); */
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dog-card img {
  height: 250px;
  width: 250px;
  /* border-radius: 20px; */
  border-radius: 50%;
  /* transform-origin: 0 0; */
  transition: all 0.35s ease;
  /* transition: transform .10s, visibility .10s ease-in; */
}


/* The Transformation */
.dog-card:hover img {
  transform: scale(1.1);
}

.dog-card-title {
  margin: 0;
  display: flex;
}

img {}

.img-wrapper {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  /* hide the overflow */
}

.img-wrapper img {
  transition: all .25s ease;
  vertical-align: middle;
}